name: Run Ruby Tests

on:
  workflow_dispatch:
    inputs:
      suite_name:
        description: 'Suite to run'
        required: true
        default: 'smokeUI'
        type: choice
        options:
          - smokeUI
          - API
      env:
        description: 'Environment to run'
        required: true
        default: 'prod'
        type: choice
        options:
          - prod
          - stage
  push:
    branches:
      - main

jobs:
  ruby-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            google-chrome-stable \
            xvfb \
            libnss3 \
            libgconf-2-4 \
            libxi6 \
            libatk1.0-0 \
            libgtk-3-0
          gem install bundler
          bundle install

      - name: Start virtual display (Xvfb)
        run: |
          Xvfb :99 -screen 0 1920x1080x24 &
          echo "DISPLAY=:99" >> $GITHUB_ENV

      - name: Run tests
        env:
          DISPLAY: :99
          TEST_ENV: ${{ github.event.inputs.env }}
        run: |
          echo "Running specs at: $SUITES"
          echo "Using TEST_ENV: $TEST_ENV"
          echo "Using config file: $CONFIG_FILE"
          bundle exec rspec $SUITES